{% extends "base.html" %}
{% block title %}{{ site.brand }} -- Decks{% endblock %}
{% block content %}
{% if not registry.sections %}
<p class="text-neutral-400">
  No decks yet. Run <code class="px-1 bg-neutral-800 rounded">simplex new my-deck</code>
  to create one.
</p>
{% else %}
{% if latest_section %}
{% set section = latest_section %}
{% set carousel_variant = "latest" %}
{% include "_carousel.html" %}
{% endif %}
{% set carousel_variant = "section" %}
{% for section in registry.sections %}
{% include "_carousel.html" %}
{% endfor %}
{% endif %}
{% endblock %}
